<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CentralLoginService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="CentralLoginService.Properties.Settings.JEGRConnection"
            connectionString="Data Source=jegr_server;Initial Catalog=JEGR_DB;Persist Security Info=True;User ID=sa;Password=Jen&amp;excellent"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <applicationSettings>
        <CentralLoginService.Properties.Settings>
            <setting name="DebugMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoLogout" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoLogoutTime" serializeAs="String">
                <value>23:15</value>
            </setting>
            <setting name="UseOperatorPermissions" serializeAs="String">
                <value>False</value>
            </setting>
        </CentralLoginService.Properties.Settings>
    </applicationSettings>
</configuration>